# IntelliJ IDEA
.idea

# Eclipse
.classpath
.project
.settings

# Compiled files
target/
out/

# Logs and databases
*.log
*.sqlite
*.h2.db

# User-specific files
*.iml
*.iws
*.ipr

# Dependency directories
lib/
bin/

# IDE-specific configuration
*.sublime-workspace

# macOS specific files
.DS_Store

# Windows Thumbs.db file
Thumbs.db
